.load-more-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
}

.products{
    padding: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.load-more-container .btn{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
/* Increase specificity */
.load-more-container .btn button {
    padding: 10px 20px;
    color: white;
    background-color: green !important; /* Ensure the background color applies */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
