.load-more-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(225, 217, 228);
}
.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    gap:15px;
    padding: 10px;
    justify-content: center;
    
}

.products{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
    background-color: hsla(60, 100%, 62%, 0.747);
   

}
.products p{
    font-size: 18px;
    color: rgb(87, 87, 71);
    margin-bottom: 10px;
}
.products::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(#f5f5dc,#faf0e6,#f5deb3,#f5f5dc);
    z-index: -1;
    padding: 5px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 5px;

}
.products button{
    padding: 10px 20px;
    border: none;
    color: rgb(172, 172, 17);
    background: #faf0e6;
    border-radius: 10px;
    cursor: pointer;
    transition: 100ms;
}
.products button:hover{
    background: #df9610;
    color: beige;
    position: relative;
    top:-1px;
}

.load-more-container .btn{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
/* Increase specificity */
.load-more-container .btn button {
    padding: 10px 20px;
    color: white;
    background-color: green !important; /* Ensure the background color applies */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.loading{
    display: flex;
    justify-content: center;
}
.loading p{
    font-size: 20px;
    font-weight: bolder;
    color: #d8a13b;
}
.wait{
    display: flex;
    justify-content: center;
    width: 100%;
}
.wait h1{
    font-size: 20px;
    color: blueviolet;
}
.empty{
    width: 100%;
    display: flex;
    justify-content: center;
}
.empty h1{
    color: rgb(235, 57, 57);
    text-transform: capitalize;
    font-size: 20px;
}


